.Collect_Counter_Icon{
	bottom: 0;
	margin-right: 4px;
	margin-left: 4px;
	height: 13px;
	width: 15px;
}

#modal-container{
	height:100%;
	width: 100%;
}

.black{
	position: fixed;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	z-index:99999;
	background-color: rgba(0,0,0,0.5);
}

.modal{
	position: fixed;
	/*height: 250px;*/
	width: 500px;
	margin-top: -250px;
	margin-left: -250px;
	top:50%;
	left:50%;
	background-color: #fff;
	z-index:100000;
	border-radius: 3px;
	padding: 0px;
}

.modal h1{
	font-size: 2em;
}

#collections-list li:before{
	content: "+";
}
#collections-list{
	font-style: bold;
	font-size: 14pt;
}